<!--Puts in the @task var which it gets from either show or edit
pages, and inputs it into this form, then performs each method on it -->
<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
