<h1>New Task</h1>
<!--Here we render the partial called form on the New Task
page, which brings the form from form.html.erb onto the page. It
then inserts the @task var into that form and performs that form's
code -->
<%= render 'form' %>

<%= link_to 'Back', tasks_path %>
